<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Task Wabbit', reverse: true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "Task Wabbit", root_path %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "All Tasks", root_path%></li>
            <% Category.all.each do |category|  %>
              <li><%= link_to category.name, tasks_path(name: category.name) %></li>
            <% end %>
        </ul>
        <%= link_to "New Task", new_task_path, class: "navbar-text navbar-right navbar-link" %>
      </div>
    </nav>
    <div class="container"><%= render_breadcrumbs :separator => ' / ' %></div>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
